<div class="modal-header">
	<h3 class="modal-title">Make "{{task.name}}" a pomotask?</h3>
</div>
<div class="modal-body">
	<label>Estimated pomodori</label>
	<div><rating ng-model="data.estimatedPomodori" max="8" state-on="'pomo'" state-off="'pomo-small-est'"></rating></div>
</div>
<div class="modal-footer">
	<a class="btn btn-success" progress-button loading-text="Creating.." finished-text="Created!" ng-click="ok(this)">Create</a>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>